<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2ch風掲示板</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="top_menu">
        <a href="/?page=all">全部</a>
        <a href="/?page=first">1-10</a>
        <a href="/?page=latest">最新10</a>
    </div>

    <div class="post_contents">
        {% for content in contents %}
        <div>
            <span>{{content.id}}: </span>
            <span style="color:green" ><b>{{content.name}}</b>: </span>
            <span>{{content.pub_date}}</span>
        </div>

        <div>
            <dd>{{content.msg}}</dd>
        </div>
        {% endfor %}
    </div>

    <form method="post" action="/">
        <div class="writing_form">
            <div class="writing_form_top_contents">
                <input type="submit" name="writing_button" value="書き込む">
                <span>名前:</span>
                <input type="text" id="name" name="name" size="19"></textarea>
                <span>E-mail:</span>
                <input type="text" id="e-mail" name="e-mail" size="19"></textarea>
            </div>

            <div>
                <textarea id="msg" name="msg" cols="70" rows="5"></textarea>
            </div>

        </div>
    </form>

</body>
</html>